<!--<nav>
  <div class="container">
    <div class="item">
      <h3 >Employees</h3>
      <button mat-icon-button [matMenuTriggerFor]="menu1" #matMenuTrigger1>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu1="matMenu">
        <mat-list>
          <mat-divider></mat-divider>
          <button mat-menu-item>Employees</button>
          <button mat-menu-item>Add</button>
          <button mat-menu-item>Item 3</button>
        </mat-list>
      </mat-menu>
    </div>
    <div class="item">
      <h3>work conditions</h3>
      <button mat-icon-button [matMenuTriggerFor]="menu2">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu2="matMenu">
        <mat-list>
          <mat-divider></mat-divider>
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
          <button mat-menu-item>Item 3</button>
        </mat-list>
      </mat-menu>
    </div>
  </div>
  <div class="item">
    <h3>Salary</h3>
    <button mat-icon-button [matMenuTriggerFor]="menu3">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu3="matMenu">
      <mat-list>
        <mat-divider></mat-divider>
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        <button mat-menu-item>Item 3</button>
      </mat-list>
    </mat-menu>
  </div>
  <div class="item">
    <h3>Payments</h3>
    <button mat-icon-button [matMenuTriggerFor]="menu4">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu4="matMenu">
      <mat-list>
        <mat-divider></mat-divider>
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        <button mat-menu-item>Item 3</button>
      </mat-list>
    </mat-menu>
  </div>
  </nav>-->

<mat-toolbar class="mat-elevation-z6">
  <a mat-button routerLink="/" class="mat-button-link">Employees</a>
  <a mat-button routerLink="/" class="mat-button-link">Work Conditions</a>
  <a mat-button routerLink="/" class="mat-button-link">Salary</a>
  <a mat-button routerLink="/" class="mat-button-link">Payments</a>
</mat-toolbar>




