[*.cs]

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = silent

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = silent
