@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using AutoMapper


@inject IJSRuntime _jsRuntime;
@inject IEmployeeRepository _employeeRepo;
@inject IMapper _mapper;

@page "/employee"



<EditForm Model=SelectedEmployee OnValidSubmit=OnSubmit style="width: 50%; margin: auto;">
<DataAnnotationsValidator/>
<h2 class="m-5 text-center header">Employee's Details</h2>
<div >
    <table  class="table table-bordered border-2 border-secondary" >
  <tbody>
      <tr style="display: @ComboBoxVisibility">
          <th scope="row">Select Employee:</th>
          <td><select id="employee" class="form-control border-3 border-dark "   @bind-value="EmployeeId" @bind-value:event="oninput"   @onchange=SelectionChanged >
              <option value="0" selected>Please select a employee!</option>
				@foreach(var employee in Employees)
				{
					<option value="@employee.Id" >@employee.FullName</option>
				}
			</select>
            </td>
      </tr>
    <tr>
      <th scope="row">First name:</th>
      <td><InputText @bind-Value=SelectedEmployee.FirstName class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Last name:</th>
      <td><InputText @bind-Value=SelectedEmployee.LastName class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">D.O.B</th>
      <td><InputDate @bind-Value=SelectedEmployee.DOB class="form-control" /></td>
    </tr>
    <tr>
      <th scope="row">Phone:</th>
      <td><InputText @bind-Value=SelectedEmployee.Phone class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Email:</th>
      <td><InputText @bind-Value=SelectedEmployee.Email class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
        <td colspan="2"><button class="btn btn-danger" style="width:49%; margin-left:0.33%; margin-right:0.33%; margin-bottom:5px;" type="button" @onclick=SetAction>@this.ActionType</button>
           <button class="btn btn-primary" style="width: 49%; margin-right:0.33%;" type="submit">Submit</button> </td>
    </tr>
  </tbody>
</table>
</div>
<ValidationSummary />
</EditForm>



@code {
    private EmployeeManager _employeeManager;
    public Employee SelectedEmployee { get; set; } = new();
    public IEnumerable<Employee> Employees = new List<Employee>();
    public int EmployeeId { get; set; }
    public string ComboBoxVisibility { get; set; } = "None";
    public string ActionType { get; set; } = EDIT;
    const string EDIT = "Edit Details";
    const string NEW = "New Employee";

    protected override void OnInitialized()
    {
        _employeeManager = new EmployeeManager(_mapper, _employeeRepo);
        LoadData();
    }

    public void SetAction()
    {
        //To clear all fields and selection
        SelectedEmployee = new Employee();
        EmployeeId = 0;

        ActionType = ActionType == NEW ? EDIT : NEW;
        ComboBoxVisibility = ActionType == EDIT ? "None" : "Normal";
        StateHasChanged();
    }

    public void SelectionChanged(ChangeEventArgs e)
    {
        SelectedEmployee = Employees.Single(e => e.Id == EmployeeId);
    }

    public async void OnSubmit()
    {
        var dtoEmpoyee = _mapper.Map<InternationalWagesManager.DTO.Employee>(SelectedEmployee);
        if (ActionType == EDIT)
            await _employeeManager.AddEmployeeAsync(dtoEmpoyee);
        else
            _employeeManager.UpdateEmployee(dtoEmpoyee);

        SelectedEmployee = new Employee();
    }

    private async void LoadData()
    {
        Employees = _mapper.Map<List<Employee>>(await _employeeManager.GetEmployeesAsync());
        StateHasChanged();
    }

    //public async Task ClearSelection()
    //{
    //    await _jsRuntime.InvokeVoidAsync("selectIndex", "employee", 0);
    //}

   
}

