@page "/payments"
<EditForm Model="this" style="width:50%; margin:auto;" >
    <h2 class="header text-center m-5">Payments</h2>
    <table class="table table-bordered border-secondary">
        <tbody>
            <tr>
            <th scope="row">Employee:</th>
            <td>
                <InputSelect @bind-Value=Payment.EmployeeId class="form-control">
                    <option value="0">Select a Employee</option>
                    @foreach (var employee in Employees)
                    {
                        <option value="@employee.Id">@employee.FullName</option>
                    }
                </InputSelect>
            </td>
            </tr>
            <tr>
            <th scope="row">Date:</th>
            <td>
                <InputDate @bind-Value=Payment.Date class="form-control"/>
            </td>
            </tr>
            <tr>
            <th scope="row">Total</th>
            <td>
                <InputNumber @bind-Value=Payment.Amount class="form-control"/>
            </td>
            </tr>
            <tr>
            <th scope="row">Description:</th>
            <td>
                <InputText @bind-Value=Payment.Description class="form-control"/>
            </td>
            </tr>
            <tr>
            <th/>
            <td>
                <button class="form-control btn btn-primary">Submit</button>
            </td>
            </tr>
        </tbody>
    </table>
</EditForm>
@code {
    private List<Employee> Employees { get; set; } = new List<Employee>();
    private Payment Payment { get; set; } = new Payment();
}
