@page "/statements"

<div  style="width:75%; margin:auto">
    <h2 class="text-center header m-5">Statement</h2>
    <div style="margin:auto; display: @SelectDisplay;">
        <select class="form-control dropdown" style="width:400px; height:45px; margin: auto;"  @bind-value=EmployeeId @bind-value:event="oninput" @onchange=SelectEmployee >
        <option value="0" >Select a employee</option>
        @foreach (var employee in Employees)
        {
            <option value="@employee.Id">@employee.FullName</option>
        }
    </select>
    </div>

    <div class="mt-3" style="display:@GridDisplay">
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
            Data="@StatementList" TItem="Statement" ColumnWidth="200px"  LogicalFilterOperator="LogicalFilterOperator.Or">
            <Columns>
                <RadzenDataGridColumn TItem="Statement" Property="Date" Title="Date" FormatString="{0:d}" Width="100px" Frozen="true" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="Statement" Property="SalaryPayable" Title="Salary Payable" Width="100px" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="Statement" Property="Payment" Title="Payment" Width="100px" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="Statement" Property="Balance" Title="Balance" Width="100px" TextAlign="TextAlign.Center"/>
            </Columns>
        </RadzenDataGrid>

    </div>
</div>

@code {
    public List<Employee> Employees { get; set; } = new List<Employee>();
    public int EmployeeId { get; set; } 
    public List<Statement> StatementList { get; set; } = new List<Statement>();
    public string GridDisplay { get; set; } = "None";
    public string SelectDisplay { get; set; } = "Normal";
    private void SelectEmployee(ChangeEventArgs e)
    {
        
    }
}
