@page
@model Web.Pages.Employees.AddModel
@{
    ViewData["Title"] = "New Employee's details";
}


<Form method="post"  style="width: 50%; margin: auto;">
<h2 class="m-5 text-center header ">Add Employee</h2>
<div >
    <table  class="table table-bordered border-2 border-secondary " >
  <tbody>
    <tr>
      <th scope="row">First name:</th>
      <td><input type="text" asp-for="Employee.FirstName" class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Last name:</th>
      <td><input type="text" asp-for="Employee.LastName" class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">D.O.B</th>
      <td><input asp-for="Employee.DOB"  class="form-control" /></td>
    </tr>
    <tr>
      <th scope="row">Phone:</th>
      <td><input asp-for="Employee.Phone" class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Email:</th>
      <td><input asp-for="Employee.Email" class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
        <td colspan="2">
           <button class="btn btn-outline-dark form-control"  type="submit" >Submit</button>
        </td>
        <td hidden><input asp-for="Employee.Id" /></td>

    </tr>
  </tbody>
</table>
   <div class="mb-3">
       <a class="btn" style="background-color: black; color: white;" asp-page="./Index">Cancel</a>
    </div>
        <div style="height:auto;"><span class="alert-danger text-center fw-bold" asp-validation-for="Employee.FirstName" /></div>
        <div style="height:auto;"><span class="alert-danger text-center fw-bold" asp-validation-for="Employee.LastName" /></div>
        <div style="height:auto;"><span class="alert-danger text-center fw-bold" asp-validation-for="Employee.DOB" /></div>
        <div style="height:auto;"><span class="alert-danger text-center fw-bold" asp-validation-for="Employee.Phone" /></div>
        <div style="height:auto;"><span class="alert-danger text-center fw-bold" asp-validation-for="Employee.Email" /></div>
</div>
 
</Form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

