@page
@model Web.Pages.Employees.EditModel
@{
    ViewData["Title"] = "Update details";
}


<Form asp-action="Edit" style="width: 50%; margin: auto;">
<h2 class="m-5 text-center header ">Update Details</h2>
<div >
    <table  class="table table-bordered border-2 border-secondary " >
  <tbody>
    <tr>
      <th scope="row">First name:</th>
      <td><input type="text" asp-for="Employee.FirstName" class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Last name:</th>
      <td><input type="text" asp-for="Employee.LastName" class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">D.O.B</th>
      <td><input asp-for="Employee.DOB"  class="form-control" /></td>
    </tr>
    <tr>
      <th scope="row">Phone:</th>
      <td><input asp-for="Employee.Phone" class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
      <th scope="row">Email:</th>
      <td><input asp-for="Employee.Email" class="form-control" style="background-color: transparent"/></td>
    </tr>
    <tr>
        <td colspan="2" style="height: auto;">
            <span class="alert-danger text-center fw-bold" asp-validation-for="Employee.Email"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
           <button class="btn btn-outline-dark form-control"  type="submit" >Submit</button> </td>
    </tr>
  </tbody>
</table>
</div>
 
</Form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

