<style>
  input, select {
    border: 0;
    box-shadow: none;
    outline: none;
  }
  td{
    text-align: center;
    vertical-align:middle;
  }

 

</style>

<div class="d-flex justify-content-center">
  <div *ngIf="workConditions.value.length < 1" class="spinner-border text-primary" role="status" >
    <label class="visually-hidden">Loading...</label>
  </div>
</div>
<div *ngIf="workConditions.value.length > 0"  style=" margin: auto; width:90%;">
  <h3 class="text-center header mb-4 mt-3" style="font-family: 'MS UI Gothic'"><span class="text-primary text-capitalize">{{nameOfEmployee}}'s</span> work conditions details</h3>
  <table class="table table-bordered " style="margin:auto; table-layout: fixed; width: 100%;">
    <thead>
      <tr>
        <th class="text-center">Date</th>
        <th class="text-center"> Pay Rate</th>
        <th class="text-center">Wage Currency</th>
        <th class="text-center">Expenses Currency</th>
        <th class="text-center">Pay Currency</th>
        <th class="text-center">Deductions</th>
        <th style="width:30%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workC of workConditions.value"  >
        <td><label  >{{workC.date | date: 'dd/MM/yyyy'}}</label></td>
        <td><label >{{workC.payRate}}</label></td>
        <td >
          <label>{{workC.wageCurrency.name}}</label> 
        </td>
        <td >
          <label >{{workC.expensesCurrency.name}}</label>
        </td>
        <td >
          <label >{{workC.payCurrency.name}}</label>
        </td>
        <td><label >{{workC.deductions}}</label></td>
        <td class="d-flex " style="justify-content: space-around">
          <button class="btn btn-outline-primary" style="width: 45%; " (click)="onEdit(workC)" >Edit</button>
          <button class="btn btn-outline-danger" style="width: 45%; "(click)="onDelete(workC)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-primary form-control mt-3" style="width: 20%; background-color:black" href="/workconditions">Back</a>
</div>
